<!DOCTYPE html>
<html ng-app="initiativeTracker">
<head>
    <title>Neato Initiative Tracker</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="initiative.js"></script>

    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-controller="InitiativeController">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-brand">Another Web-Based Initiative Tracker!</div>
    </div>
</nav>

<div id="participantsDiv" class="container">
    Participants:
    <ul>
        <li ng-repeat="part in participants">
            <div class="well">
                <label>
                    Name:
                    <input type="text" class="form-control" ng-model="part.name">
                </label>
                <label>
                    Mod:
                    <input type="text" class="form-control" ng-model="part.mod">
                </label>
                <label><input type="checkbox" ng-model="part.adv" />Adv?</label>
                <label><input type="checkbox" ng-model="part.roll" />Roll?</label>
                <button type="button" class="btn btn-danger" ng-click="remove(part)">Remove</button>
            </div>
        </li>
    </ul>
    <button type="button" class="btn btn-success btn-block" ng-click="addNew()">Add Combatant</button>
    <button type="button" class="btn btn-info btn-block" ng-click="rollInitiative()">Start Combat</button>
</div>
<div id="initiativeDiv" class="container">
    Initiative:
    <ul>
        <li ng-repeat="guy in combatList | orderBy:'-score'">
            <div class="well">
                <b>{{guy.name}}</b> Initiative: {{guy.score}}
                <hr>

                <label>
                    Status:
                    <input type="text" class="form-control" ng-model="guy.status">
                </label>
            </div>
        </li>
    </ul>
    <button type="button" class="btn" ng-click="endCombat()">End Combat</button>
</div>
</body>
</html>
