<!DOCTYPE html>
<html ng-app="initiativeTracker">
<head>
    <title>Neato Initiative Tracker</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Angular -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="initiative.js"></script>

    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-controller="InitiativeController">
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-brand">Another Web-Based Initiative Tracker!</div>
    </div>
</nav>

<div id="participantsDiv" class="container">
    Participants:
    <ul>
        <li ng-repeat="part in participants">
            <div class="well">
                <label>
                    Name:
                    <input type="text" class="form-control" ng-model="part.name">
                </label>
                <label>
                    Mod:
                    <input type="text" class="form-control" ng-model="part.mod">
                </label>
                <label><input type="checkbox" ng-model="part.adv" />Adv?</label>
                <label><input type="checkbox" ng-model="part.roll" />Roll?</label>
                <button type="button" class="btn btn-danger" ng-click="remove(part)">Remove</button>
            </div>
        </li>
    </ul>
    <button type="button" class="btn btn-success btn-block" ng-click="addNew()">Add Combatant</button>
    <button type="button" class="btn btn-info btn-block" ng-click="rollInitiative()">Start Combat</button>
</div>
<div id="initiativeDiv" class="container">
    <button type="button" class="btn btn-info btn-block" ng-click="endCombat()">End Combat</button><br/>


    Active player:
    <div class="panel panel-primary" id="activePlayerInfoDiv">
        <div class="panel-heading">{{activePlayer.name}}</div>
        <div class="panel-body">
            <div class="input-group">
                <div class="input-group-addon">
                    Status Effects
                </div>
                <input type="text" class="form-control" ng-model="activePlayer.status">
            </div>
            <div class="input-group" id="damageDealHealInputsActivePlayer">
                <div class="input-group-addon">
                    Damage
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="damage(activePlayer, -10)">-10</button>
                    <button class="btn btn-success" ng-click="damage(activePlayer, -1)">-1</button>
                </span>
                <input type="text" class="form-control" ng-model="activePlayer.damage">
                <span class="input-group-btn">
                    <button class="btn btn-danger" ng-click="damage(activePlayer, 1)">+1</button>
                    <button class="btn btn-danger" ng-click="damage(activePlayer, 10)">+10</button>
                    <button type="button" class="btn btn-danger" ng-click="kill(activePlayer)">Kill</button>
                </span>
            </div>
            <button class="btn btn-info btn-block" ng-click="nextTurn()">Done turn.</button>
        </div>
    </div>


    Initiative:
    <ul id="initiativeListUl">
        <li ng-repeat="guy in combatList">
            <div ng-attr-class="{{guy.active && 'panel panel-primary' || 'panel panel-default'}}">
                <div class="panel-heading"><b>{{guy.name}}</b>  Initiative: {{guy.score}}</div>
                <div class="panel-body">
                    <div class="input-group">
                        <div class="input-group-addon">
                            Status Effects
                        </div>
                        <input type="text" class="form-control" ng-model="guy.status">
                    </div>
                    <div class="input-group" id="damageDealHealInputs">
                        <div class="input-group-addon">
                            Damage
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-success" ng-click="damage(guy, -10)">-10</button>
                            <button class="btn btn-success" ng-click="damage(guy, -1)">-1</button>
                        </span>
                        <input type="text" class="form-control" ng-model="guy.damage">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" ng-click="damage(guy, 1)">+1</button>
                            <button class="btn btn-danger" ng-click="damage(guy, 10)">+10</button>
                            <button type="button" class="btn btn-danger" ng-click="kill(guy)">Kill</button>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
