.root {
    display: grid;
    grid-template-columns: 1fr;
}

.dungeon-layout {
    position: relative;
    padding: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

svg {
    background-color: darkgray;
    grid-area: 1 / 1 / 2 / 2;
    
}

.room {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 3px solid black;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0 0 10px black)
}