.root {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dungeon-map {
    display: grid;
    grid-template-columns: 1fr;
}

.dungeon-layout {
    position: relative;
    padding: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

.room-detail {
    max-width: 300px;
    border: 2px inset gray;
    background: linear-gradient(darkgray, white);
    padding: 1em;
    border-radius: 1em;
    margin-left: 5px;
    height: min-content;
}

svg {
    background-color: darkgray;
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px;
}

.room {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 3px solid black;
    border-radius: 3px;
    background-color: white;
    filter: drop-shadow(0 0 10px black)
}